.nav {
  align-self: flex-end;
  text-align: center;
}
.nav .nav__nav-burger .nav__nav-burgerBtn {
  margin-top: 1.5rem;
  padding: 0.8rem;
  background-color: rgb(65, 56, 49);
  color: white;
  font-size: 1.25rem;
}
.nav .nav__nav-burger .nav__nav-collapsed {
  margin-top: 2rem;
  display: none;
}
.nav .nav__nav-burger .nav__nav-collapsed .nav__nav-link {
  color: whitesmoke;
  padding: 1rem;
  font-size: 1rem;
}
.nav .nav__nav-burger .nav__nav-collapsed a:link {
  text-decoration: none;
}
.nav .nav__nav-burger #burger-collapsed .nav__nav-link {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-top: 1px solid #333;
}
.nav .nav__nav-burger #burger-collapsed:hover {
  display: block;
}

.home .home__details {
  padding: 1rem 1.5rem;
}
.home .home__details .home__name {
  font-size: 2rem;
  color: rgb(212, 187, 121);
  font-weight: 200;
}
.home .home__details #seperator {
  margin-top: 5%;
  width: 20%;
  background-color: rgb(72, 70, 66);
}
.home .home__details .home__title {
  margin-top: 1rem;
  font-size: 4.5rem;
  font-weight: 400;
}
.home .home__details .home__description {
  padding: 1.5rem 0rem;
  font-family: "Inter", sans-serif;
}

.projects {
  width: 100%;
  background-color: rgb(40, 39, 37);
  padding: 0.5rem 0.25rem;
  border-radius: 25px;
}
.projects .projects__title {
  padding-left: 1.5rem;
  padding-top: 1rem;
  font-size: 3rem;
  font-weight: 400;
}
.projects #seperator {
  width: 20%;
  background-color: rgb(72, 70, 66);
  margin-left: 6%;
  margin-top: 3%;
}
.projects .projects__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.projects .projects__grid .projects__grid-item {
  padding: 1rem 2rem;
  width: 80%;
}
.projects .projects__grid .projects__grid-item .projects__grid-item-image {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12.5px;
  border: solid 0.25rem white;
  margin-bottom: 1rem;
}
.projects .projects__grid .projects__grid-item .projects__grid-item-title {
  font-size: 1.8rem;
  font-weight: 200;
}
.projects .projects__grid .projects__grid-item .projects__grid-item-icons {
  float: right;
}
.projects .projects__grid .projects__grid-item .projects__grid-item-icons .projects__grid-item-icon {
  background-color: rgb(105, 77, 57);
}
.projects .projects__grid .projects__grid-item .projects__grid-item-skillTags {
  align-items: center;
  margin-top: 1.5rem;
}
.projects .projects__grid .projects__grid-item .projects__grid-item-skillTags .projects__grid-item-skill {
  background-color: rgb(60, 51, 42);
  padding: 0.5rem;
  display: inline-block;
  border-radius: 7%;
  font-size: 0.9rem;
  margin-top: 0.4rem;
  margin-right: 0.2rem;
}
.projects .projects__grid .projects__grid-item .projects__grid-item-skillTags .projects__grid-item-icon {
  display: inline-block;
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .projects .projects__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .projects .projects__grid .projects__grid-item {
    width: auto;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .about__details {
  display: inline-block;
  align-items: center;
  padding: 1rem 1.5rem;
}
.about .about__details .about__title {
  margin-bottom: 1rem;
}
.about .about__details .about__description {
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
}
.about .about__image {
  border: solid 0.35rem rgb(90, 79, 72);
  width: 50%;
  align-self: center;
  margin: 0.5rem;
}
.about .about__grid {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about .about__grid .about__dropsection {
  margin-bottom: 2rem;
}
.about .about__grid .about__dropsection .about__drop-title {
  margin-bottom: 1rem;
}
.about .about__grid .about__dropsection .about__dropbtn {
  background-color: rgb(80, 64, 53);
  color: whitesmoke;
  text-align: center;
  border: 0.5rem;
  border: white;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 15rem;
}
.about .about__grid .about__dropsection .about__dropbtn:hover .about__dropbtn {
  background-color: rgb(179, 155, 138);
}
.about .about__grid .about__dropsection .about__dropbtn-content {
  display: none;
  position: inherit;
  background-color: rgb(31, 28, 26);
  margin-top: 1rem;
  padding: 2rem 1rem;
  border: none;
  z-index: 1;
  transition: 1000ms;
}
.about .about__grid .about__dropsection .about__dropbtn:hover .about__dropbtn-content {
  display: block;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact__title {
  font-size: 3.85rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.25rem;
  text-align: center;
}
.contact .contact__btn {
  background-color: rgb(39, 36, 31);
  color: whitesmoke;
  border: solid rgb(255, 209, 176);
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  padding: 1rem 0.25rem;
  font-family: "Inter", sans-serif;
  font-size: large;
  text-align: center;
  width: 10rem;
  text-decoration: none;
}
.contact .contact__btn:hover {
  background-color: rgb(95, 87, 73);
}
.contact .contact__email {
  font-family: "Inter", sans-serif;
  padding-top: 1rem;
}

.footer__bar {
  align-items: center;
  padding: 2rem;
}
.footer__bar .footer__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.footer__bar .footer__icons a:visited {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(44, 42, 40);
}

.page {
  color: whitesmoke;
  font-family: "Cormorant", serif;
}
.page .container {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 42, 40);
  width: auto;
  justify-content: center;
  align-items: center;
  padding-left: 6%;
  padding-right: 6%;
}

@media screen and (min-width: 360px) {
  page {
    max-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  page {
    width: 75%;
  }
}/*# sourceMappingURL=style.css.map */