@use "./variables" as *;

.container{
    display: flex;
}

.nav{
    


    .nav__nav-bar{
        margin: 2rem;
        padding-left: 30rem;

        .nav__nav-link{
            padding: 1rem;
        }
    }
}