$background-color: rgb(71, 54, 35);
$projects-background-color: rgb(52, 31, 16);
$about-btn-color: rgb(101, 62, 35);
$about-drop-color: rgb(141, 82, 40);
$navbar-color: rgb(139, 89, 54);
$contact-btn-color: rgb(39, 36, 31);
$contact-btn-border: rgb(255, 209, 176);
$footer-background-color: rgb(98, 75, 49);

$about-drophover-color: rgb(179, 155, 138);
$title-color: rgb(255, 255, 255);
$text-color: whitesmoke;
$hover-color: rgb(189, 181, 138);


$font-cormorant: 'Cormorant', serif;
$font-inter: 'Inter', sans-serif;


$skill-tag-background: rgb(129, 78, 41);
$icon-tag-background: rgb(105, 77, 57);
