$background-color: rgb(44, 42, 40);

$home-name-color: rgb(212, 187, 121);

$projects-background-color: rgb(40, 39, 37);
$projects-item-hover: rgb(74, 71, 66);
$skill-tag-background: rgb(60, 51, 42);
$seperator: rgb(72, 70, 66);

$about-btn-color: rgb(80, 64, 53);
$about-btn-hover: rgb(105, 92, 83);
$about-drop-color: rgb(31, 28, 26);
$navbar-color: rgb(65, 56, 49);

$contact-btn-color: rgb(39, 36, 31);
$contact-btn-color-hover: rgb(95, 87, 73);
$contact-btn-border: rgb(255, 209, 176);

$footer-background-color: rgb(98, 75, 49);

$about-drophover-color: rgb(179, 155, 138);
$title-color: rgb(255, 255, 255);
$text-color: whitesmoke;
$hover-color: rgb(189, 181, 138);

$font-cormorant: 'Cormorant', serif;
$font-inter: 'Inter', sans-serif;


$icon-tag-color: white;
