@use "../variables" as *;


.about{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    
    #seperator{
        width: 20%;
        background-color: $seperator;
        margin-bottom: 3%;
    }
    
    .about__details{
        display: inline-block;
        align-items: center;
        padding: 1rem 1.5rem;
        
        .about__title{
            margin-bottom: 1rem;
        }

        .about__description{
            font-size: 0.8rem;
            font-family: $font-inter;
        }
    }

    .about__image{
        border: solid 0.35rem rgb(90, 79, 72);
        width: 35%;
        align-self: center;
        margin: .5rem;
        max-width: 30rem;
    }    
        
    .about__grid{
        margin: 1rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;        

        .about__dropsection{
            margin-bottom: 2rem;

            .about__drop-title{
                margin-bottom: 1rem;
            }
            
            .about__dropbtn{
                background-color: $about-btn-color;
                color: $text-color;
                text-align: center;
                border : 0.5rem;
                border: white;
                margin-bottom: 0.5rem;
                padding: 0.5rem 0.5rem;
                width: 15rem;
            }

            .about__dropbtn:hover .about__dropbtn{
                    background-color: $about-drophover-color;
            }

            .about__dropbtn-content{
                display: none;
                position: inherit;
                background-color: $about-drop-color;
                margin-top: 1rem;
                padding: 2rem 1rem;
                border: none;
                z-index: 1;
                transition: 1000ms;
            }

            .about__dropbtn:hover .about__dropbtn-content{
                display: block;
                
            }

        }
    }
}
