@use "../variables" as *;


.about{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    
    #seperator{
        width: 20%;
        background-color: $seperator;
        margin-bottom: 3%;
    }
    
    .about__details{
        display: inline-block;
        align-items: center;
        padding: 1rem 1.5rem;
        
        .about__title{
            margin-bottom: 1rem;
        }

        .about__description{
            font-family: $font-inter;
        }
    }

    .about__image{
        border: solid 0.35rem rgb(90, 79, 72);
        width: 35%;
        align-self: center;
        margin: 2rem;
        max-width: 30rem;
    }    
        
    .about__grid{
        margin: 1rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;        

        .about__dropsection{
            margin-bottom: 2rem;

            .about__drop-title{
                margin-bottom: 1rem;
            }
        
            .about__item{
                width: 100%;
            }         

            .about__item:hover{
                
                .about__item-span{
                    background-color: $about-btn-hover;
                    transform: scaleX(1.025);
                    transition: ease-in-out 0.25s;
                }
            }

            .about__item-span {
                padding : 2rem;
                background : $about-btn-color;
                color : white;
                font-size : 1.2em;
                font-variant : small-caps;
                cursor : pointer;
                display: block;
            }

            .about__item-span:after {
                float: right;
                right: 10%;
                content: "+";
            }

            .about__item-expanded {
                clear:both;
                width: 80vw;
                height:0;
                overflow: hidden;
                text-align: center;
                transition: height .4s ease;
                background-color: $about-drop-color;
              }
            
            .about__item-expanded li {padding : 2rem;}

              #about__item-check1 {position: absolute; opacity: 0; height: 0px;}    
              #about__item-check1:checked + .about__item-expanded {height: 6rem}

              #about__item-check2 {position: absolute; opacity: 0; height: 0px;}    
              #about__item-check2:checked + .about__item-expanded {height: 6rem}

              #about__item-check3 {position: absolute; opacity: 0; height: 0px;}    
              #about__item-check3:checked + .about__item-expanded {height: 6rem}

              #about__item-check4 {position: absolute; opacity: 0; height: 0px;}    
              #about__item-check4:checked + .about__item-expanded {height: 8rem}

              #about__item-check5 {position: absolute; opacity: 0; height: 0px;}    
              #about__item-check5:checked + .about__item-expanded {height: 8rem}

              #about__item-check6 {position: absolute; opacity: 0; height: 0px;}    
              #about__item-check6:checked + .about__item-expanded {height: 6rem}

        }
    }
}
