@use "../variables" as *;

.contact{        
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact__title{
        font-size: 3.85rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-left: 0.25rem;
        text-align: center;
        display: inline-block;
        position: relative;
    }

    .contact__title:after{
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.5s ease 0s, left 0.5s ease 0s;
        width: 0;
    }

    .contact__title:hover:after{
        width: 100%; 
        left: 0; 
    }

    .contact__btn{
        background-color: $contact-btn-color;
        color: $text-color;
        border: solid $contact-btn-border;
        margin-bottom: 1.5rem;
        margin-top: 2rem;
        padding: 1rem 0.25rem;
        font-family: $font-inter;
        font-size: large;
        text-align: center;
        width: 10rem;
        text-decoration: none;
    }

    .contact__btn:hover{
        background-color: $contact-btn-color-hover;
        transform: scale(1.1);
        transition: ease-in 0.25s;
    }

    .contact__email{
        font-family: $font-inter;
        padding-top: 1rem;
    }
    
}