@use "../variables" as *;

.contact{        
    display: flex;
    flex-direction: column;
    align-items: center;

   

    .contact__title{
        font-size: 3.85rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-left: 0.25rem;
        text-align: center;
    }

    .contact__btn{
        background-color: $contact-btn-color;
        color: $text-color;
        border: solid $contact-btn-border;
        margin-bottom: 1.5rem;
        margin-top: 2rem;
        padding: 1rem 0.25rem;
        font-family: $font-inter;
        font-size: large;
        text-align: center;
        width: 10rem;
        text-decoration: none;
    }

    .contact__btn:hover{
        background-color: $contact-btn-color-hover;
    }

    .contact__email{
        font-family: $font-inter;
        padding-top: 1rem;
    }
    
}