@use "../variables" as *;

.footer__bar{
    align-items: center;
    padding: 2rem;
    
    .footer__icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.5rem;
        gap: 1rem;
        
        a:visited{color: white;}

        a:hover{
            transform: scale(1.2);
            transition: ease-in 0.3s;
        }
    }

}