@use "../variables" as *;

.footer__bar{
    align-items: center;
    padding: 2rem;
    
    .footer__icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        
        a:visited{color: white;}
    }

}