@use "../variables" as *;

.home{

    .home__details{
        padding: 1rem 1.5rem;

        #seperator{
            width: 20%;
            background-color: $seperator;
            
        }

        .home__title{
            margin-top: 1rem;
            font-size: 4.5rem;
            font-weight: 400;
        }
        
        .home__description{
            padding: 1.5rem 0rem;
            font-family: $font-inter;
        }
    }
}