@use "../variables" as *;

.nav{
    text-align: center;

    .nav__nav-burger{
        
        .nav__nav-burgerBtn{
            margin: 1rem;
            padding: 1rem;
            background-color: $navbar-color;  
            float: right;
        }

            .nav__nav-collapsed{
                margin-top: 2rem;
                display: none;
          

                .nav__nav-link{
                    color: $text-color;
                    padding: 1rem;
                    font-size: 1rem;
                }

                a:link{
                    text-decoration: none;
                }
            }
        
    }
}