@use "../variables" as *;

.nav{
    align-items: center;
    display: flex;
    flex-direction: column column;
    justify-content: space-between;
    width: 100%;
    flex-wrap:nowrap;
    padding: 2rem;
    background-color: $projects-background-color;
    border-radius: 1rem;
    margin-top: 1rem;
    

    .nav__name{
        font-size: 2rem;
        color: white;
        font-weight: 200;
        display: inline-block;
        padding-left: 2rem;
    
        .nav__name-alt{
            display: inline-block;
            color: $home-name-color;
        }
    }

    .nav__name:hover{
        color: $home-name-color;

        .nav__name-alt{
            color: white;
        }
    }

    .nav__name-alt:hover{
        color: white;

        .nav__name{
            color: $home-name-color;
        }
    }

    .nav__nav-links{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        right: 1px;
        padding-right: 2rem;
        
        .nav__nav-link{
            display: inline-block;
            position: relative;
            color: $text-color;
            padding: .5rem;
            font-size: 1.5rem;
        }

        .nav__nav-link:after{
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        .nav__nav-link:hover:after{
            width: 100%; 
            left: 0; 
        }

        a:link{
            text-decoration: none;
        }
    }
}