@use "../variables" as *;

.nav{
    align-self: flex-end;
    text-align: center;

    .nav__nav-burger{
        
        .nav__nav-burgerBtn{
            margin-top: 1.5rem;
            padding: .8rem;
            background-color: $navbar-color;  
            color: white;
            font-size: 1.25rem;           
            
        }

            .nav__nav-collapsed{
                margin-top: 2rem;
                display: none;
          

                .nav__nav-link{
                    color: $text-color;
                    padding: 1rem;
                    font-size: 1rem;
                }

                a:link{
                    text-decoration: none;
                }
            }
            #burger-collapsed .nav__nav-link{
                box-sizing: border-box; display: block;
                width: 100%; border-top: 1px solid #333;
            }
            #burger-collapsed:hover{
                display: block;
            }
            
        
    }
}