@use "../variables" as *;


    .projects{
        width: 100%;
        background-color: $projects-background-color;
        padding: 0.5rem 0.25rem;
        border-radius: 25px;

        .projects__title{
            padding-left: 1.5rem;
            padding-top: 1rem;
            font-size: 3rem;
            font-weight: 400;
        }

        #seperator{
            width: 20%;
            background-color: $seperator;
            margin-left: 6%;
            margin-top: 3%;
        }

        .projects__grid{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .projects__grid-item{
                padding: 1rem 2rem;
                width: 80%;

                .projects__grid-item-image{
                    width: 100%;
                    height: 60%;
                    object-fit: cover ;
                    border-radius: 12.5px;
                    border: solid 0.25rem white;
                    margin-bottom: 1rem;
                }

                .projects__grid-item-title{
                    font-size: 1.8rem;
                    font-weight: 200;
                }

                .projects__grid-item-icons{
                    float: right;
                    .projects__grid-item-icon{
                        background-color: $icon-tag-background;
                    }
                }

                .projects__grid-item-skillTags{
                    align-items: center;
                    margin-top: 1.5rem;

                    .projects__grid-item-skill{
                        background-color: $skill-tag-background;
                        padding: .5rem;
                        display: inline-block;
                        border-radius: 7%;
                        font-size: .9rem;
                        margin-top: 0.4rem;
                        margin-right: 0.2rem;
                    }

                    .projects__grid-item-icon{
                        display: inline-block;
                        padding: .5rem;
                    }
                }
                
            }
            
        }

        @media screen and (min-width: 768px){
            .projects__grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                
                .projects__grid-item{
                    width: auto;

                    .projects__grid-item-image{

                    }
                }

                .projects__grid-item-skillTags{
                    
                }
            }
        }
    }

