@use "../variables" as *;


    .projects{
        background-color: $projects-background-color;
        padding: 2% 3% 2%;
        border-radius: 25px;

        .projects__title{
            padding-left: 1.5rem;
            padding-top: 1rem;
            font-size: 3.25rem;
            font-weight: 400;
        }

        #seperator{
            width: 20%;
            background-color: $seperator;
            margin: 3% 0%;
        }

        .projects__grid{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            justify-items: center;
            align-items: center;
            width: 100%;

            .projects__grid-item{
                width: 100%;
                border-radius: 1rem;
                margin: 0 -.25rem;
                padding: 0 .25rem;
                transition: all .25s ease-in-out;

                .projects__grid-item-image{
                    width: 80%;
                    height: 60%;
                    object-fit: cover ;
                    border-radius: 0.781rem;
                    border: solid 0.25rem white;
                    margin: 2% 8% 0%;
                }

                .projects__grid-item-title{
                    font-size: 2rem;
                    font-weight: 200;
                    padding-left: 8%;
                    margin-top: 5%;
                }

                .projects__grid-item-skillTags{
                    display: flex;
                    flex-direction: column column column;
                    grid-template-rows: row row;
                    grid-template-columns: column column column;
                    align-items: center;
                    padding-left: 8%;
                    padding-top: 2%;
                    margin-bottom: 5%;
                    flex-wrap: wrap;
                    gap: .2rem;

                    .projects__grid-item-skill{
                        background-color: $skill-tag-background;
                        padding: .5rem;
                        display: inline-block;
                        border-radius: 7%;
                        font-size: .9rem;
                        margin-top: 0.4rem;
                        margin-right: 0.2rem;
                    }

                    .projects__grid-item-icons{
                        display: flex;
                        padding-top: 2.5%;
                        gap: .3rem;
                        justify-content: center;
                        
                        .projects__grid-item-icon{
                            color: $icon-tag-color;
                            margin-left: 2.5px;                            
                        }
                    }
                }
            }
            .projects__grid-item:hover{
                transform: scale(1.075);
                box-shadow: 0 0 .25rem $projects-item-hover;
                background-color: $projects-item-hover;
                color: white;
            }
        }
    }

    @media screen and (min-width: 768px){

            .projects{
                padding: 2% 3.5% 4%;

                .projects__grid{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    width:100%;
                    
                    .projects__grid-item{
                        width: 100%;

                        .projects__grid-item-image{
                            width: 85%;
                        }

                        .projects__grid-item-skillTags{
                            
                        }
                    }
                }
            }
        }
