@use "../variables" as *;


    .projects{
        background-color: $projects-background-color;
        padding: 2% 3% 2%;
        border-radius: 25px;

        .projects__title{
            padding-left: 1.5rem;
            padding-top: 1rem;
            font-size: 3.25rem;
            font-weight: 400;
        }

        #seperator{
            width: 20%;
            background-color: $seperator;
            margin: 3% 0%;
        }

        .projects__grid{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            justify-items: center;
            align-items: center;
            width: 100%;

            .projects__grid-item{
                width: 100%;

                .projects__grid-item-image{
                    width: 80%;
                    height: 60%;
                    object-fit: cover ;
                    border-radius: 12.5px;
                    border: solid 0.25rem white;
                    margin: 2% 8% 0%;
                }

                .projects__grid-item-title{
                    font-size: 1.8rem;
                    font-weight: 200;
                    padding-left: 8%;
                }

                .projects__grid-item-skillTags{
                    display: flex;
                    flex-direction: column column column;
                    grid-template-rows: row row;
                    grid-template-columns: column column column;
                    align-items: center;
                    padding-left: 8%;
                    padding-top: 2%;
                    margin-bottom: 5%;

                    .projects__grid-item-skill{
                        background-color: $skill-tag-background;
                        padding: .5rem;
                        display: inline-block;
                        border-radius: 7%;
                        font-size: .9rem;
                        margin-top: 0.4rem;
                        margin-right: 0.2rem;
                    }

                    .projects__grid-item-icons{
                        display: inline-block;
                        padding-top: 2.5%;
                        padding-left: 1%;
                        justify-content: center;
                        
    
                        .projects__grid-item-icon{
                            color: $icon-tag-color;
                            margin-left: 2.5px;                            
                            padding-left: .5rem;
                            padding-bottom: .25rem;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px){

            .projects{
                padding: 2% 3.5% 4%;

                .projects__grid{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    
                    .projects__grid-item{
                        width: auto;

                        .projects__grid-item-image{
                            
                        }

                        .projects__grid-item-skillTags{
                            
                        }
                    }
                }
            }
        }

